[submodule "src/ros/unitree_ros2"]
	path = src/ros/unitree_ros2
	url = https://github.com/unitreerobotics/unitree_ros2.git
[submodule "src/zenoh-plugin-ros2dds"]
	path = src/zenoh-plugin-ros2dds
	url = https://github.com/eclipse-zenoh/zenoh-plugin-ros2dds.git
[submodule "src/zenoh"]
	path = src/zenoh
	url = https://github.com/eclipse-zenoh/zenoh.git
[submodule "src/ros/ros_tutorials"]
	path = src/ros/ros_tutorials
	url = https://github.com/ros/ros_tutorials.git
